body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgba(235, 131, 217, 0.411);
}
h1{
    font-size: 50px;
}
.color-span{
    color: rgb(167, 13, 13);
}
.flexible_container{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url("top-banner.jpg");
    background-repeat: no-repeat;
}
.dream-banner{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position:right ;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.about-btn{
    text-decoration:none ;
    padding: 12px;
    background-image: linear-gradient(rgb(128, 19, 37), rgb(231, 8, 45));
    color: wheat;
    font-weight: 700px;
    border-radius: 5px;
}
.web-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5px;
    padding: 20px;
    box-shadow:10px 10px 40px tomato;
    border-radius: 10px;
}
.experience-style{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position:left ;
}
.border-shadow{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(1, 1, 47),rgb(3, 3, 119), rgb(22, 22, 236));
    border-image-slice: 1;
}
.experience-style h1{
    text-align: center;
}
footer p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700px;
}